@import "tailwindcss";

html,
body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  width: 100%;
}

button {
  cursor: pointer;
}
button:disabled {
  background-color: #d3d3d3 !important; /* Gri renk */
  cursor: not-allowed !important; /* İzin verilmeyen işaretçi */
  border: 1px solid #ccc !important; /* Hafif gri border */
}
